.navBg {
    background-color: #000324;
    width: 1920;
    height: 120;
}

.navTxt {
    color: white;
  }

.navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
  }

.hT {
    font-size: 45px;
    font-family: 'Dosis', sans-serif;
}

.hC {
    font-size: 16px;
    font-family: 'Source Sans 3', sans-serif;
}

.pacT {
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
}

.head {
  background-image: url('./images/header.jpg');
  background-position: center;
  height: 500px;
  width: 100;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}